node_modules
npm-debug.log
.env
.env.*
.git
.gitignore
README.md
docs
test
*.spec.ts
*.test.ts
coverage
.vscode
.idea
*.md
Dockerfile
docker-compose.yml
.github
.railway
dist
tsconfig.json
tsconfig.build.json
eslint.config.mjs
nest-cli.json
